<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <!-- <ion-icon name='menu'></ion-icon> -->
    </button>
    <ion-title>
      Header
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content] = "mycontent">
  <ion-header>
    <ion-title>
      Menu
    </ion-title>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <button ion-button menuClose clear>Close Menu</button>
      </ion-item>
      <ion-item>
        <button ion-button clear (click)="logOut()">Log Out</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent></ion-nav>

<ion-content>
  <ion-list>
    <entity
      *ngFor = "let entity of data"
      (press)="openDetails(entity)"
      [entity] = "entity"
      (selectEntity) = "selectEntity($event)">
    </entity>
  </ion-list>
</ion-content>
